<!DOCTYPE html>
<html lang="en-US">
	{{> head}}
    <title>Bookings</title>
    <style>
        .two-third{
            width: 100% !important;
        }
        .frm_form_fields{
            text-align: center;
        }
        .submit{
            text-align: center;
            margin-top:10px;
        }
        .input-group{
            margin-top:5px;
        }
        p{
            font-size:10px;
            font-family: 'Courier New';
        }
    </style>
<body onload="loadArtists()">
    <div class="wrapper site-wrapper">
        {{> navbar}}
        <div class="page-title wrapper">
            <div class="container">
                <h1>Bookings</h1>
                <div class="clear"></div>
            </div>
        </div><!--/ page title-->
        <div class="content wrapper">
            <div class="container">
                <div class="two-third column post-content">
                    <p><img alt="makeabooking" class=
                    "aligncenter size-full wp-image-476" height="157" src="img/makeabooking.png"
                    width="578"></p>
                    <div class="content-block">
                        <div class="block-title">
                            <span></span>
                        </div>
                        <div class="block-content">
                            <div class="frm_forms with_frm_style" id=
                            "frm_form_2_container">
                                <form class="frm-show-form" action="/booking" method=
                                "post" name="form_uvt5og">
                                    <div class="frm_form_fields">
                                        <fieldset>
                                            <div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">Artist</span>
                                                    <select class="form-control" name="artist[]" id="artist" multiple>
                                                        {{#each artists}}
                                                        <option value="{{this.name}}">{{this.name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div class="frm_description">
                                                    <p>
                                                        Select an Artist or
                                                        Multiple Artist's for your
                                                        event you wish to book
                                                    </p>    
                                                    </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                                                    <input class="form-control" placeholder="Your Name" id="field_yourname" name="fname" type="text" required>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                                                    <input class="form-control" id="field_lastname" placeholder="Last Name" name="lastname" type="text" required>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-earphone"></span>
                                                    <input placeholder="Mobile" class="form-control" id="field_mobile" name="mobile" type="text" required>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-earphone"></span>
                                                    <input class="form-control" id="field_phone" placeholder="Phone" name="phone" type="text">
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">@</span>
                                                    <input class="form-control" id="field_youremail" name="email" placeholder="Email" type="email">
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                                    <input class="form-control" id="field_date" placeholder="Date Requested" name="date" type="text">
                                                </div>
                                                <div class="frm_description">
                                                    <p>
                                                        D / M / YEAR or Explain
                                                        multiple dates
                                                    </p>    
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-exclamation-sign"></span>
                                                    <input placeholder="Venue" class="form-control" id="field_venue" name="venue" type="text">
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-map-marker"></span>
                                                    <input placeholder="Address" class="form-control" id="field_address" name="address" type="text">
                                                </div>
                                                <div class="frm_description">
                                                        <p>Street number & name</p>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-map-marker"></span>
                                                    <select title="State" class="form-control" id="field_state" name="state">
                                                        <option selected value="FRANCE">
                                                            FR
                                                        </option>
                                                        <option value=
                                                        "International">
                                                            International
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <p class="submit"><input type="submit" value=
                                    "Submit Booking Enquiry "></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="one-third last column"></div>
                <div class="clear"></div>
                <div class="footer-widgets"></div>
                <div class="clear"></div>
            </div>
        </div><!--/ content-->
        {{> footer}}
    </div>
    <script>
    	var artists = {{{stringify artist}}};
	    function loadArtists(){
	        var htmlbloc = ' <select name="artist[]" id="artist" multiple>';
	        if(artists != false) {
	            for (var artist in artists) {
	                htmlbloc += '<option value="' + artists[artist].name + '">' + artists[artist].name + '</option>';
	            }
	            htmlbloc += '</select>';
	            document.getElementById('artist').innerHTML += htmlbloc;
	        }
    	}
    </script>
</body>
</html>