<!DOCTYPE html>
<html lang="en-US">
{{> head}}
<title>Contact</title>
<style>
	.footer {
		position : absolute !important;
	}
	.wrapper * {
		font-family: 'Courier New';
	}
	.input-group {
		margin-top:5px;
	}
	.submit {
		margin-top:10px;
	}
</style>
<body class="page page-id-361 page-template page-template-template-left-php">
	<div class="wrapper site-wrapper">
		{{> navbar}}
		<div class="content wrapper">
			<div class="container">
				<div class="one-third column">
					<div class="content-block widget widget_text">			
						<div class="textwidget">
							<h1>La Confrerie</h1>
							<div class="clear">
							</div>
							<div class="divider" style="margin-bottom:em; margin-top:em;">
							</div>
							<strong>Mobile:</strong>  0764098329
							<p>
								<strong>Adress:</strong>     37 Avenue Ledru-Rollin, Gare de Lyon 75012 Paris
						</div>
					</div>
				</div>
				<div class="two-third column last post-content">
					<div class="content-block">
						<div class="block-title">
							<span></span>
						</div>
						<div class="block-content">
							<div class="frm_forms with_frm_style" id="frm_form_3_container">
								<form action="/contact" method="post" class="frm-show-form " id="form_contact2" >
									<div class="frm_form_fields">
										<div class="input-group">
											<span class="input-group-addon"></span>
										    <input placeholder="Your Name" type="text" id="field_ts7w0f2" name="fname"class="form-control" required/>
										</div>
										<div class="input-group">
											<span class="input-group-addon"></span>
										    <input placeholder="Email" type="email" id="field_tispx2" name="email" value=""  class="form-control" required/>    
										</div>
										<div class="input-group">
											<span class="input-group-addon"></span>
										    <input placeholder="Phone" type="text" id="field_6l67e32" name="phone" class="form-control" required/>
										</div>
										<div class="input-group">
											<span class="input-group-addon"></span>
										    <textarea placeholder="Type your message.." name="message" id="field_kemvq2" rows="4"  class="form-control" required></textarea>  
										</div>
									</div>
									<p class="submit">
										<input type="submit" value="Send Message" />
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="clear">
				</div>
				<div class="footer-widgets">					
				</div>			
				<div class="clear">
				</div>
			</div>
		</div><!--/ content-->
		{{> footer}}
	</div><!--/ site-->
</body>
</html>