<html lang="en-US">
	{{> head}}
	<title>Erreur</title>
	<style>
	.footer {
		position : absolute !important;
	}
</style>
	<body>
		{{> navbar}}
		Page error
		<div>
			{{> footer}}
		</div>
	</body>
</html>