<!DOCTYPE html>
<html lang="en-US" class="wf-robotocondensed-n4-active wf-opensans-n4-active wf-opensans-i4-active wf-opensans-n6-active wf-active">
	{{> head}}
	<title>Home</title>
	<style>


    .item-owl {
    	height: 420px !important;
    }
    .img-owlslide {
    	width: 100%;
    	height: 100%;
    }

    .owl-pagination {
    	text-align: center !important;
    }
    .container {
    	width: 970px !important;
    }
	</style>
	<body class="home page page-id-429 page-template-default">
	<div class="wrapper site-wrapper">
		{{> navbar}}
		<div class="ribbon-slider-container">
			<div class="ribbon-slider-background">	
			</div>

			<div class="ribbon-slider">
			    <div id="owl-demo" class="owl-carousel">
			    	{{#each artist}}
			    		<div class="item-owl">
			    			<a href="/artist/{{this._id}}" class="img-owlslide"/>
								<img src={{this.img}} class="img-owlslide">
							</a>
							<div class="ribbon-caption">
								<a href="/artist/{{this._id}}" class="ribbon-caption-title">
									<span>{{this.name}}</span>
									<span class="ribbon-caption-background"></span>
								</a>
							</div>
						</div>
			    	{{/each}}
			      
			    </div>
			</div>
		</div><!--/ ribbon slider-->
		<div class="content wrapper">
			<div class="container">	
				<div class="post-content">
					<p>
						<img class="aligncenter size-full wp-image-471" alt="ThatSound" src="/img/logo.png" width="941" height="196" />
					</p>
					<div class="buttons-contact">
						<div class="one-third column">
							<div class="content-block">
								<div class="block-title">
									<span></span>
								</div>
								<div class="block-content">
									<a href="/artists/" class="button large default">
										<span>Artist Roster</span>
									</a>
								</div>
							</div>
						</div>
						<div class="one-third column">
							<div class="content-block">
								<div class="block-title">
									<span></span>
								</div>
								<div class="block-content">
									<a href="/booking/" class="button large default">
										<span>Booking Enquiry</span>
									</a>
								</div>
							</div>
						</div>
						<div class="one-third column last">
							<div class="content-block">
								<div class="block-title">
									<span></span>
								</div>
								<div class="block-content">
									<a href="/contact/" class="button large default">
										<span>Contact Us</span>
									</a>
								</div>
							</div>
						</div>
						<div class="clear">
						</div>
					</div>	
				</div>
				<div class="clear"></div>
				<div class="footer-widgets">
									
				</div>			
				<div class="clear"></div>
			</div>
		</div><!--/ content-->
	{{> footer}}
	</div><!--/ site-->
	<script>

    $(document).ready(function() {
     
 
		$("#owl-demo").owlCarousel({
		 
		    autoPlay: 3000, //Set AutoPlay to 3 seconds
		 
		    items : 4,
		    itemsDesktop : [1199,3],
		    itemsDesktopSmall : [979,3]
		 
		});  
    });


	</script>

</body>
</html>