<html lang="en-US">
	<title>Sign In</title>
	<body>
		<form action="signin" method="post" role="form">
			Adress : <input type="text" name="user" id="email">
			Password : <input type="password" name="password" id="pswd">
			<Button type="submit">Submit</button>
		</form>	
	</body>
</html>