<div class="footer wrapper">
	<div class="background">
		<div class="container">				
			<div class="menu">
				<ul>
					<li class="page_item page-item-429 current_page_item">
						<a href="/">Home</a>
					</li>
					<li class="page_item page-item-13">
						<a href="/artists/">Artists</a>
					</li>
					<li class="page_item page-item-7">
						<a href="/booking/">Bookings</a>
					</li>
					<li class="page_item page-item-361">
						<a href="/contact/">Contact</a>
					</li>
				</ul>
			</div>
			<div class="copyright">
				<img class="alignleft size-full wp-image-468" src="./../../img/logo.png" width="69" height="37"> 
				<span style="color: #cccccc;">La Confrerie™ (C) 2016</span>
				<p>
					<span style="color: #cccccc;">Site By</span> 
						<span style="color: #2dcf73;">
							<strong>KayJay</strong>
						</span>				
				</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div><!--/ footer-->

