<div class="wrapper header">
			<div class="supheader wrapper">
				<div class="container">
					<div class="logo" style="heigh:200px; width:200px;">
						<a href=""><img src="/img/logo.png"></a>
					</div><!--/ logo-->
					<div class="social-links">
						<a href="#" class="soundcloud" title="SoundCloud"></a>											
						<a target="_blank" href="https://www.facebook.com/La-Confrerie-1758380107729327/?fref=ts" class="facebook" title="Facebook"></a>
					</div><!--/ social links-->				
					<div class="clear"></div>
				</div>			
			</div><!--/ supheader-->
			<div class="subheader wrapper">
				<div class="container">
					<div class="menu">
						<ul>
							<li class="page_item page-item-429 current_page_item">
								<a href="/">Home</a>
							</li>
							<li class="page_item page-item-13">
								<a href="/artists">Artists</a>
							</li>
							<li class="page_item page-item-7">
								<a href="/booking">Bookings</a>
							</li>
							<li class="page_item page-item-361">
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</div>
					<div class="select-menu">
						<select style="opacity: 0; display: inline-block;">
							<option value="/artists" selected="selected">Artists</option>
							<option value="/booking" selected="selected">Bookings</option>
							<option value="/contact" selected="selected">Contact</option>
							<option value="/" selected="selected">Home</option>
						</select>						
						<span>Home</span>
					</div><!--/ select menu-->		
					<div class="clear"></div>
				</div>			
			</div><!--/ subheader-->
		</div><!--/ header-->